:root {
  --clr_black: #0e0e0e;
  --clr_white: #f3f3f3;
  --clr_dark-gray: #363636;
  --clr_light-gray: #a1a1a1;
  --clr_red: #d40000;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #0e0e0e;
  font-family: "montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

main {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.logo {
  position: absolute;
  top: 3rem;
  left: 2rem;
  height: 3rem;
  @media (min-width: 550px) {
    height: 4rem;
  }
}
