.pageWrapper {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  max-width: 150rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr_black);
}

.carouselWrapper {
  overflow: hidden;
  position: relative;
  height: 55vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 550px) {
    height: 70vh;
    width: 70%;
  }
}

.article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s cubic-bezier(0.58, 0.11, 0.43, 0.99);
  &.activeSlide {
    opacity: 1;
    transform: translateX(0);
  }
  &.lastSlide {
    transform: translateX(-100%);
  }
  &.nextSlide {
    transform: translateX(100%);
  }
}

.slideImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button {
  color: var(--clr_white);

  &.directionBtn {
    position: absolute;
    top: 47%;
    z-index: 98;

    border: none;
    outline: none;
    background-color: transparent;
    font-size: 3rem;
    text-transform: uppercase;
    transition: 0.25s ease;
    &.next {
      right: 2rem;
    }
    &.prev {
      left: 2rem;
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      color: var(--clr_light-gray);
    }
    &:active {
      color: var(--clr_red);
    }
    @media (min-width: 550px) {
      margin: 0 5rem;
      position: relative;
    }
  }
}

.radioContainer {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.radioBtn {
  margin: 0 1rem;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  background-color: var(--clr_white);
  transition: 0.25s ease;
  border: 0.1rem solid var(--clr_white);
  &.activeClass {
    background-color: var(--clr_dark-gray);
    border: 0.1rem solid var(--clr_white);
  }
  &:hover {
    cursor: pointer;
    background-color: var(--clr_light-gray);
  }
  &:active {
    border: 0.1rem solid var(--clr_red);
  }
  @media (min-width: 550px) {
    height: 1.2rem;
    width: 1.2rem;
  }
}
